.header{
    background-color: brown;
    color: white;
    font-weight: bold;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    height: 40px;
    width: 60px;
    margin-left: 20px;
    background-color: aquamarine;
}
.logo{
    text-decoration: underline;
}