*{
  margin: 0;
  color: white;
}

body{
  background-color:rgb(55, 51, 51);
}

.card{
  background-color: brown;
  border: 2px black solid;
  border-radius: 10px;
  margin:20px;
  padding: 20px;
}

.navbar{
  background-color: aquamarine;
  color:black;
  font-style: italic;
  font-weight: bolder;
  padding: 10px;

}
