.king{
  
position: relative;
left: 500px;
top: 200px;
  
}

.show{
  height: 130px;
  width: 200px;
  background-color: silver;
  font-size: 90px;
  text-align: center;
  justify-content: center;
  margin-left: 80px;
}

button{
  margin-top: 20px;
  padding: 15px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: 20px;
}