*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
  color:white;
}

html,body{
  height: 100%;
  width: 100%;
}

.parent{
  padding-top: 15px;
  padding-left:15px ;;
  display: inline-block;
  
}

.Card img{
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.Card{
  height: 300px;
  width: 300px;
  border: 2px solid rgb(246, 240, 240);
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: #333;
} 
.Card p{
  padding:20px 0;
}
.Card button{
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: 2px solid black;

}