.page1{
    height: 500px;
    
    background-color: aquamarine;
}

.page2{
    height: 600px;
   
    background-color: rgb(85, 85, 100);
}

.page3{
    height: 700px;
  
    background-color: blueviolet;
}