*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

}

html,body{
  height: 100%;
  width: 100%;
  background-color: rgb(58, 57, 57);
}

.parent{
  width: 100%;
  background-color: #111;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card{ 
  min-height: 360px;
  min-width: 300px;
  background-color:white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
  margin-top: 20px;
}

.card .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;

}

.top img{
  height: 37px;
  width: 37px;
  border-radius: 50%;
  border: 1px solid #dadada;
  padding: 2px;
}

.top button{
  display: flex;
  align-items: center;
  border: 2px solid #dadada;
  padding: 3px 7px;
  border-radius: 5px;
  font-size: 14px;
  gap: 3px;
  background-color:transparent;
  color: #b1b1b1;
}

.center{
  padding-bottom: 90px;
}
.center h3{
  font-size: 18px;
  font-weight: 500;
  padding-left: 10px;
}
.center h3 span{
  font-size: 10px;
  font-weight: 400;
  color: #8b8b8b;
}

.center h2{
  padding-top: 7px;
  font-size: 20px;
  padding-left: 12px;
}
.center div{
  margin-top: 10px;
  display: flex;
}
.center div h4{
  font-size: 13px;
  font-weight: 500;
  border-radius: 5px;
  border: 1px solid #b1b1b1;
  padding: 4px;
  background-color: #e8e8e8;
  margin-left: 10px;
}
.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top:1px solid #dadada;
  padding-top: 10px ;
  padding-bottom: 30px;
}

.bottom div{
  padding-left: 15px;
}

.bottom button{
  font-size: 14px;
  font-weight: 400;
  padding: 8px;
  margin-right: 15px;
  border-radius: 8px;
  color: white;
  background-color: black;

}